// Disable selection
body
	-webkit-touch-callout: none  // iOS Safari 
	-webkit-user-select: none    // Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ 
	-moz-user-select: none       // Firefox 
	-ms-user-select: none        // IE 10+ and Edge 
	user-select: none            // Non-prefixed version
	overflow: hidden
	& .q-table
		-webkit-touch-callout: text  // iOS Safari 
		-webkit-user-select: text    // Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ 
		-moz-user-select: text       // Firefox 
		-ms-user-select: text        // IE 10+ and Edge 
		user-select: text  


//.crud-table replace 
.q-table__container.q-table__card
	& .q-table__top
	& .q-table__middle
		height: calc( 100vh - 165px )!important
	& .q-table__bottom--nodata
		margin-top: -65px

// calendar overrides
.q-calendar-daily__day-interval:hover, 
.q-calendar-weekly__workweek:hover,
.q-calendar-weekly__day:hover,
.q-calendar-weekly__head-weekday:hover
  background-color:  rgba(0,0,255,.1)